CommunityPunchPasses/force-app/main/default/flows/Appointment_HandleAttended_RTFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Decrement</name>
        <label>Set Decrement</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>passDecrement.Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Staff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Membership_Punch_Pass_Decrement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Membership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Decrement</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Appointment HandleAttended RTFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment HandleAttended RTFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Decrement</name>
        <label>Insert Decrement</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>passDecrement</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Decrement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attended__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Attended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Auto_Decrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>passDecrement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Pass_Decrement__c</objectType>
    </variables>
</Flow>
