CommunityPunchPasses/force-app/main/default/flows/Contact_CheckIn_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Get_Punch_Pass.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Links_to_List</name>
        <label>Assign Links to List</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>lstContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>decrementLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_lstContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Link_for_Contact</name>
        <label>Create Link for Contact</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>contactLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Punch_Pass.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Links_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Link_for_Decrement</name>
        <label>Create Link for Decrement</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>decrementLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>decrementLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passDecrement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Link_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_passDecrement</name>
        <label>Set passDecrement</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Membership_Punch_Pass_Decrement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Punch_Pass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Decrement_Date_Datetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Instructor_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_passDecrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Punch_Pass_RT_ID</name>
        <label>Set Punch Pass RT ID</label>
        <locationX>963</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>punchPassMembershipRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Membership_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Membership_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_RT_ID</name>
        <label>Set Standard RT ID</label>
        <locationX>699</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>standardMembershipRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Membership_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Membership_Record_Types</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PUNCH_PASS_MEMBERSHIP_RECORD_TYPE_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Punch_Pass_Membership</stringValue>
        </value>
    </constants>
    <constants>
        <name>STANDARD_MEMBERSHIP_RECORD_TYPE_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard_Membership</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Notes</name>
        <label>Check for Notes</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Punch_Pass_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notes Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Notes_TextArea</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Note</targetReference>
            </connector>
            <label>Has Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Contact</name>
        <label>Check Get Contact</label>
        <locationX>858</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Contact_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Membership_Record_Types</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Punch_Pass</name>
        <label>Check Get Punch Pass</label>
        <locationX>380</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Error_Punch_Pass_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Punch Pass Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Punch_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Punch_Pass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrement_Details_Screen</targetReference>
            </connector>
            <label>Got Punch Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Punch_Passes</name>
        <label>Check Get Punch Passes</label>
        <locationX>611</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Error_Punch_Pass_Not_Found_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Punch_Passes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Punch_Passes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Punch_Pass_Screen</targetReference>
            </connector>
            <label>Got Punch Passes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Go_to_Record</name>
        <label>Check Go to Record</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_to_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Go_To_Record_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Record</targetReference>
            </connector>
            <label>Go to Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mem_Record_Type_Name</name>
        <label>Check Mem Record Type Name</label>
        <locationX>963</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Membership_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_is_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Membership_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STANDARD_MEMBERSHIP_RECORD_TYPE_NAME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Standard_RT_ID</targetReference>
            </connector>
            <label>Name is Standard</label>
        </rules>
        <rules>
            <name>Name_is_Punch_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Membership_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PUNCH_PASS_MEMBERSHIP_RECORD_TYPE_NAME</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Punch_Pass_RT_ID</targetReference>
            </connector>
            <label>Name is Punch Pass</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceInstructors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>TREX1__Staff__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoicePunchPassMemberships</name>
        <dataType>String</dataType>
        <displayField>Display_Name__c</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>TREX1__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>punchPassMembershipRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Remaining_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>TREX1__Membership__c</object>
        <sortField>TREX1__Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Contact CheckIn ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact CheckIn ScreenFlow</label>
    <loops>
        <name>Loop_through_Membership_Record_Types</name>
        <label>Loop through Membership Record Types</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Membership_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Mem_Record_Type_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Punch_Passes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_lstContentDocumentLinks</name>
        <label>Insert lstContentDocumentLinks</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Confirmation_Punch_Pass_Screen</targetReference>
        </connector>
        <inputReference>lstContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Note</name>
        <label>Insert Note</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Create_Link_for_Decrement</targetReference>
        </connector>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Input_Notes_TextArea</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_passDecrement</name>
        <label>Insert passDecrement</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Check_for_Notes</targetReference>
        </connector>
        <inputReference>passDecrement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>858</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Record_Types</name>
        <label>Get Membership Record Types</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Membership_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TREX1__Membership__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Punch_Pass</name>
        <label>Get Punch Pass</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Punch_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Select_Punch_Pass_Radio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Punch_Passes</name>
        <label>Get Punch Passes</label>
        <locationX>611</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Punch_Passes</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>TREX1__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>punchPassMembershipRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Remaining_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Mindbody_Integrated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Membership__c</object>
        <sortField>TREX1__Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Punch_Pass_Screen</name>
        <label>Confirmation Punch Pass Screen</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Go_to_Record</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Punch_Pass_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success! The Punch Pass was successfully decremented.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Go_To_Record_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Navigate to Punch Pass when the window closes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Decrement_Details_Screen</name>
        <label>Decrement Details Screen</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_passDecrement</targetReference>
        </connector>
        <fields>
            <name>Decrement_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decrement_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decrement_Details_Screen_Msg</name>
                    <fieldText>&lt;p&gt;Indicate the date, time, and instructor for the lesson provided.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Notes will be attached to the Pass Decrement and the Contact.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Decrement_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Decrement_Date_Datetime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Lesson Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Lessons can not be logged until after they&apos;ve taken place. Please enter a date in the past.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Input_Decrement_Date_Datetime} &lt; {!$Flow.CurrentDateTime}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Input_Instructor_Picklist</name>
                    <choiceReferences>recChoiceInstructors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Punch_Pass.Instructor__c</elementReference>
                    </defaultValue>
                    <fieldText>Instructor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Notes_TextArea</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit Punch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Contact_Not_Found_Screen</name>
        <label>Error Contact Not Found Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Contact_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Punch_Pass_Not_Found_Screen</name>
        <label>Error Punch Pass Not Found Screen</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Punch_Pass_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Punch_Pass_Not_Found_Screen_0</name>
        <label>Error Punch Pass Not Found Screen</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Punch_Passes_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;This Contact does not have any Punch Pass Memberships that are eligible to check in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Punch_Pass_Screen</name>
        <label>Select Punch Pass Screen</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Punch_Pass</targetReference>
        </connector>
        <fields>
            <name>Input_Select_Punch_Pass_Radio</name>
            <choiceReferences>recChoicePunchPassMemberships</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Punch Pass to check in</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>decrementLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>lstContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>passDecrement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Pass_Decrement__c</objectType>
    </variables>
    <variables>
        <name>punchPassMembershipRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>standardMembershipRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
