CommunityPunchPasses/force-app/main/default/flows/Membership_DecrementPunchPass_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Links_to_List</name>
        <label>Assign Links to List</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>lstContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>decrementLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_lstContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Link_for_Contact</name>
        <label>Create Link for Contact</label>
        <locationX>226</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>contactLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Links_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Link_for_Decrement</name>
        <label>Create Link for Decrement</label>
        <locationX>226</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>decrementLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>decrementLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passDecrement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Link_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment</name>
        <label>Set Appointment</label>
        <locationX>358</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>newAppointment.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.Start_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Decrement_Date_Datetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.End_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Instructor_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAppointment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_passDecrement</name>
        <label>Set passDecrement</label>
        <locationX>358</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Membership_Punch_Pass_Decrement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Decrement_Date_Datetime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Instructor_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_passDecrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_passDecrement_from_Appointment</name>
        <label>Set passDecrement from Appointment</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Membership_Punch_Pass_Decrement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.TREX1__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtSelectedApptStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedStaffId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passDecrement.Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AppointmentToDecrement_Radio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_passDecrement</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAdHocDecrement</name>
        <choiceText>+ Create ad-hoc decrement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad-Hoc Decrement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Ad_Hoc_Decrement</name>
        <label>Check for Ad-Hoc Decrement</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Appointment_Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Ad_Hoc_Decrement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_AppointmentToDecrement_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceAdHocDecrement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrement_Details_Screen</targetReference>
            </connector>
            <label>Got Ad-Hoc Decrement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Notes</name>
        <label>Check for Notes</label>
        <locationX>358</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notes Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strInputNotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strInputNotes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Note</targetReference>
            </connector>
            <label>Has Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Remaining_Credits</name>
        <label>Check for Remaining Credits</label>
        <locationX>600</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Error_No_Credits_Remaining_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Credits Remaining</defaultConnectorLabel>
        <rules>
            <name>Has_Remaining_Credits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.TREX1__Remaining_Value__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Appointments</targetReference>
            </connector>
            <label>Has Remaining Credits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Appointments</name>
        <label>Check Get Appointments</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Decrement_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Appointments Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Appointment_Screen</targetReference>
            </connector>
            <label>Got Appointments</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceAppointments</name>
        <dataType>String</dataType>
        <displayField>Start_DateTime__c</displayField>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR 5)</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_DateTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dtThirtyMinutesFromNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Appointment__c</object>
        <outputAssignments>
            <assignToReference>selectedStaffId</assignToReference>
            <field>Staff__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>dtSelectedApptStartTime</assignToReference>
            <field>Start_DateTime__c</field>
        </outputAssignments>
        <sortField>Formatted_Start_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceInstructors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>TREX1__Staff__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>dtEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Input_Decrement_Date_Datetime} + ( {!recordId.TREX1__memb_Type__r.Appointment_Length__c} / 1440 )</expression>
    </formulas>
    <formulas>
        <name>dtThirtyMinutesFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (30 / 1440)</expression>
    </formulas>
    <formulas>
        <name>strInputNotes</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK( {!Input_AppointmentNotes_TextArea} ) , 
  {!Input_AppointmentNotes_TextArea} ,
  IF( !ISBLANK( {!Input_Notes_TextArea} ) ,
    {!Input_Notes_TextArea} , 
    NULL
  )
)</expression>
    </formulas>
    <interviewLabel>Membership DecrementPunchPass ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership DecrementPunchPass ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Appointment</name>
        <label>Insert Appointment</label>
        <locationX>358</locationX>
        <locationY>1742</locationY>
        <connector>
            <targetReference>Set_passDecrement</targetReference>
        </connector>
        <inputReference>newAppointment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_lstContentDocumentLinks</name>
        <label>Insert lstContentDocumentLinks</label>
        <locationX>226</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>lstContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Note</name>
        <label>Insert Note</label>
        <locationX>226</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Create_Link_for_Decrement</targetReference>
        </connector>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>strInputNotes</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_passDecrement</name>
        <label>Insert passDecrement</label>
        <locationX>358</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Check_for_Notes</targetReference>
        </connector>
        <inputReference>passDecrement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appointments</name>
        <label>Get Appointments</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Appointments</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR 4) AND 5</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_DateTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dtThirtyMinutesFromNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment__c</object>
        <sortField>Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Appointment_Attended</name>
        <label>Mark Appointment Attended</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_passDecrement_from_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Marking_Appointment_Attended_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_AppointmentToDecrement_Radio</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attended__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_Auto_Decrement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <screens>
        <name>Appointment_Notes_Screen</name>
        <label>Appointment Notes Screen</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_Appointment_Attended</targetReference>
        </connector>
        <fields>
            <name>Appointment_Notes_Screen_Msg</name>
            <fieldText>&lt;p&gt;Enter any appointment notes and click Check In to finalize attendance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_AppointmentNotes_TextArea</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Check In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Appointment_Screen</name>
        <label>Choose Appointment Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Ad_Hoc_Decrement</targetReference>
        </connector>
        <fields>
            <name>Input_AppointmentToDecrement_Radio</name>
            <choiceReferences>recChoiceAppointments</choiceReferences>
            <choiceReferences>choiceAdHocDecrement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the appointment to check in the contact for</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>358</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success! The Punch Pass was successfully decremented.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Decrement_Details_Screen</name>
        <label>Decrement Details Screen</label>
        <locationX>358</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Appointment</targetReference>
        </connector>
        <fields>
            <name>Decrement_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Decrement_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decrement_Details_Screen_Msg</name>
                    <fieldText>&lt;p&gt;Indicate the date, time, and instructor for the lesson provided.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Notes will be attached to the Pass Decrement and the Contact.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Decrement_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Decrement_Date_Datetime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Lesson Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Lessons can not be logged until after they&apos;ve taken place. Please enter a date in the past.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Input_Decrement_Date_Datetime} &lt; {!$Flow.CurrentDateTime}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Input_Instructor_Picklist</name>
                    <choiceReferences>recChoiceInstructors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Id</elementReference>
                    </defaultValue>
                    <fieldText>Instructor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Notes_TextArea</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit Punch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Marking_Appointment_Attended_Screen</name>
        <label>Error Marking Appointment Attended Screen</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Marking_Appointment_Attended_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong. The appointment could not be checked in.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_No_Credits_Remaining_Screen</name>
        <label>Error No Credits Remaining Screen</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_No_Credits_Remaining_Screen_Msg</name>
            <fieldText>&lt;p&gt;This punch pass does not have any remaining credits to decrement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Remaining_Credits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>decrementLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>dtSelectedApptStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>newAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>passDecrement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Pass_Decrement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Membership__c</objectType>
    </variables>
    <variables>
        <name>selectedStaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
