CommunityPunchPasses/force-app/main/default/flows/Staff_AddAvailability_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Increment_Date_to_Evaluate</name>
        <label>Increment Date to Evaluate</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>dateToEvaluate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_End_Date_against_Evaluated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_Ids</name>
        <label>Set Location Ids</label>
        <locationX>336</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>strLocationIdMonday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationMonday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdTuesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationTuesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdWednesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationWednesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdThursday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationThursday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdFriday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationFriday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdSaturday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationSaturday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strLocationIdSunday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LocationSunday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Start_and_End_Times</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Offset</name>
        <label>Set Offset</label>
        <locationX>204</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>intTimezoneHoursOffset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_External_Site_Setting.Hour_Offset_from_GMT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Schedule_for_Day_of_Week</name>
        <label>Set Schedule for Day of Week</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>staffAvailabilitySchedule.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>staffAvailabilitySchedule.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strLocationIdFromDayOfWeek</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>staffAvailabilitySchedule.Start_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtScheduleStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>staffAvailabilitySchedule.End_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtScheduleEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStaffAvailabilitySchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>staffAvailabilitySchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Date_to_Evaluate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_and_End_Times</name>
        <label>Set Start and End Times</label>
        <locationX>336</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>strStartTimeMonday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeMonday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeMonday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeMonday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeTuesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeTuesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeTuesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeTuesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeWednesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeWednesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeWednesday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeWednesday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeThursday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeThursday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeThursday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeThursday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeFriday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeFriday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeFriday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeFriday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeSaturday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeSaturday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeSaturday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeSaturday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strStartTimeSunday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StartTimeSunday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strEndTimeSunday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_EndTimeSunday_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_End_Date_against_Evaluated</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DAY_TOGGLE_LABEL_ACTIVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Include</stringValue>
        </value>
    </constants>
    <constants>
        <name>DAY_TOGGLE_LABEL_INACTIVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Do not include</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Day_of_Week</name>
        <label>Check Day of Week</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Increment_Date_to_Evaluate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolValidDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Schedule_for_Day_of_Week</targetReference>
            </connector>
            <label>Is Valid Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_End_Date_against_Evaluated</name>
        <label>Check End Date against Evaluated</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Insert_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_EndDate_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>dateToEvaluate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Day_of_Week</targetReference>
            </connector>
            <label>Date is Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_ESS</name>
        <label>Check Get ESS</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ESS Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_ESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_External_Site_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Offset</targetReference>
            </connector>
            <label>Got ESS</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>TREX1__Location__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceTimePicklistValues</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <limit>200</limit>
        <object>Time_Picklist_Value__mdt</object>
        <sortField>Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>boolValidDay</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  OR( 
    AND( {!intDayOfWeekFromDate} = 1, {!Sunday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 2, {!Monday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 3, {!Tuesday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 4, {!Wednesday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 5, {!Thursday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 6, {!Friday_Toggle.value} ) ,
    AND( {!intDayOfWeekFromDate} = 7, {!Saturday_Toggle.value} )
  ) , 
  TRUE ,
  FALSE
)</expression>
    </formulas>
    <formulas>
        <name>dtScheduleEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT( YEAR( {!dateToEvaluate} ) ) + &quot;-&quot; + 
  TEXT( MONTH( {!dateToEvaluate} ) ) + &quot;-&quot; + 
  TEXT( DAY( {!dateToEvaluate} ) ) + &quot; &quot; + 
  CASE( {!intDayOfWeekFromDate} ,
    1, {!strEndTimeSunday} ,
    2, {!strEndTimeMonday} ,
    3, {!strEndTimeTuesday} ,
    4, {!strEndTimeWednesday} ,
    5, {!strEndTimeThursday} ,
    6, {!strEndTimeFriday} ,
    7, {!strEndTimeSaturday} ,
    &quot;00:00:00&quot;
  )
) + ({!intTimezoneHoursOffset} / 24)</expression>
    </formulas>
    <formulas>
        <name>dtScheduleStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT( YEAR( {!dateToEvaluate} ) ) + &quot;-&quot; + 
  TEXT( MONTH( {!dateToEvaluate} ) ) + &quot;-&quot; + 
  TEXT( DAY( {!dateToEvaluate} ) ) + &quot; &quot; + 
  CASE( {!intDayOfWeekFromDate} ,
    1, {!strStartTimeSunday} ,
    2, {!strStartTimeMonday} ,
    3, {!strStartTimeTuesday} ,
    4, {!strStartTimeWednesday} ,
    5, {!strStartTimeThursday} ,
    6, {!strStartTimeFriday} ,
    7, {!strStartTimeSaturday} ,
    &quot;00:00:00&quot;
  )
) + ({!intTimezoneHoursOffset} / 24)</expression>
    </formulas>
    <formulas>
        <name>intDayOfWeekFromDate</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY( {!dateToEvaluate} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>strLocationIdFromDayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE( {!intDayOfWeekFromDate} ,
  1, {!strLocationIdSunday} ,
  2, {!strLocationIdMonday} ,
  3, {!strLocationIdTuesday},
  4, {!strLocationIdWednesday}, 
  5, {!strLocationIdThursday} ,
  6, {!strLocationIdFriday} ,
  7, {!strLocationIdSaturday} ,
  &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Staff AddAvailability ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staff AddAvailability ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Schedules</name>
        <label>Insert Schedules</label>
        <locationX>490</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Inserting_Schedules_Screen</targetReference>
        </faultConnector>
        <inputReference>lstStaffAvailabilitySchedules</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_External_Site_Setting</name>
        <label>Get Default External Site Setting</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_ESS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>External_Site_Setting__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;Success! The new Staff Availability Schedules have been generated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Inserting_Schedules_Screen</name>
        <label>Error Inserting Schedules Screen</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Inserting_Schedules_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong. There was an error trying to insert Staff Availability Schedules.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(208, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>336</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Location_Ids</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartDate_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndDate_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sunday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sunday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeSunday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeSunday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationSunday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Monday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeMonday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeMonday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationMonday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tuesday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tuesday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeTuesday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeTuesday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationTuesday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wednesday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Wednesday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeWednesday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeWednesday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationWednesday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thursday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Thursday</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeThursday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeThursday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationThursday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Friday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Friday</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeFriday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeFriday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationFriday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Saturday_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Saturday</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_ACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>DAY_TOGGLE_LABEL_INACTIVE</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_StartTimeSaturday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_EndTimeSaturday_Picklist</name>
                    <choiceReferences>recChoiceTimePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_LocationSaturday_Picklist</name>
                    <choiceReferences>recChoiceLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_External_Site_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dateToEvaluate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Input_StartDate_Date</elementReference>
        </value>
    </variables>
    <variables>
        <name>intTimezoneHoursOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstStaffAvailabilitySchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff_Availability_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Staff__c</objectType>
    </variables>
    <variables>
        <name>staffAvailabilitySchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff_Availability_Schedule__c</objectType>
    </variables>
    <variables>
        <name>strEndTimeFriday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeMonday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeSaturday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeSunday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeThursday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeTuesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEndTimeWednesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdFriday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdMonday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdSaturday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdSunday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdThursday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdTuesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strLocationIdWednesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeFriday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeMonday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeSaturday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeSunday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeThursday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeTuesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStartTimeWednesday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
