CommunityPunchPasses/force-app/main/default/flows/Staff_SetDefaultValues_RTFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__User__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Owner_to_Community_User</name>
        <label>Set Owner</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Phone_and_Email</name>
        <label>Set Phone and Email</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.TREX1__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TREX1__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>402</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_User_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_and_Email</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_User</name>
        <label>Check Get User</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>User Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Community_User</targetReference>
            </connector>
            <label>Got User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TREX1__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>User is Internal</label>
        </rules>
        <rules>
            <name>User_is_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User is External</label>
        </rules>
    </decisions>
    <interviewLabel>Staff SetDefaultValues RTFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staff SetDefaultValues RTFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <object>TREX1__Staff__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
