CommunityPunchPasses/force-app/main/default/flows/Staff_ManageAssignments_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Membership_Type_Ids</name>
        <label>Parse Membership Type Ids</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <actionName>FlowStringParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Membership_Type_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>Input_MembershipTypes_ChBxGp</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstMembershipTypeIds</assignToReference>
            <name>lstStrings</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Assigned_Staff_to_List</name>
        <label>Add Assigned Staff to List</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>assignedStaff.Staff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedStaff.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Membership_Type_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAssignedStaff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignedStaff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Membership_Type_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Membership_Type_to_String</name>
        <label>Add Membership Type to String</label>
        <locationX>162</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>strMembershipTypeIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAddIdToString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Staff</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RECORD_TYPE_NAME_MEMBERSHIP_CATEGORY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Punch_Pass</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORD_TYPE_NAME_MEMBERSHIP_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Punch_Pass_Membership_Type</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Existing_Assigned_Staff</name>
        <label>Check for Existing Assigned Staff</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Insert_New_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Existing_Assigned_Staff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Staff</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assigned_Staff</targetReference>
            </connector>
            <label>Has Existing Assigned Staff</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Assigned_Staff</name>
        <label>Check Get Assigned Staff</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Select_Types_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned Staff Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Assigned_Staff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Staff</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Assigned_Staff</targetReference>
            </connector>
            <label>Got Assigned Staff</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recChoiceMembershipCategories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Punch_Pass_Record_Type.Id</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>TREX1__Membership_Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceMembershipTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_MembershipCategory_Picklist</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>TREX1__Membership_Type__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fmlAddIdToString</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!strMembershipTypeIds} ) , {!Loop_through_Assigned_Staff.Membership_Type__r.Id} , {!strMembershipTypeIds} + &apos;; &apos; + {!Loop_through_Assigned_Staff.Membership_Type__r.Id} )</expression>
    </formulas>
    <interviewLabel>Staff ManageAssignments ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staff ManageAssignments ScreenFlow</label>
    <loops>
        <name>Loop_through_Assigned_Staff</name>
        <label>Loop through Assigned Staff</label>
        <locationX>74</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Assigned_Staff</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Membership_Type_to_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Types_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Membership_Type_Ids</name>
        <label>Loop through Membership Type Ids</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <collectionReference>lstMembershipTypeIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Assigned_Staff_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Existing_Assigned_Staff</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_List</name>
        <label>Insert New List</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <inputReference>lstAssignedStaff</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Assigned_Staff</name>
        <label>Delete Assigned Staff</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Insert_New_List</targetReference>
        </connector>
        <inputReference>Get_Assigned_Staff</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assigned_Staff</name>
        <label>Get Assigned Staff</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Assigned_Staff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Staff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Category_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_MembershipCategory_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assigned_Staff__c</object>
        <sortField>Membership_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Punch_Pass_Record_Type</name>
        <label>Get Punch Pass Record Type</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Categories_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TREX1__Membership_Category__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RECORD_TYPE_NAME_MEMBERSHIP_CATEGORY</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Categories_Screen</name>
        <label>Select Categories Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Assigned_Staff</targetReference>
        </connector>
        <fields>
            <name>Input_MembershipCategory_Picklist</name>
            <choiceReferences>recChoiceMembershipCategories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a membership category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Types_Screen</name>
        <label>Select Types Screen</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parse_Membership_Type_Ids</targetReference>
        </connector>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;id string: {!strMembershipTypeIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_MembershipTypes_ChBxGp</name>
            <choiceReferences>recChoiceMembershipTypes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>strMembershipTypeIds</elementReference>
            </defaultValue>
            <fieldText>Select membership types to assign</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Punch_Pass_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedStaff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Staff__c</objectType>
    </variables>
    <variables>
        <name>lstAssignedStaff</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Staff__c</objectType>
    </variables>
    <variables>
        <name>lstMembershipTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Staff__c</objectType>
    </variables>
    <variables>
        <name>strMembershipTypeIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
